In [68]:
import requests
from scrapy import Selector
import pandas as pd

In [69]:
res = requests.get('https://quotes.toscrape.com/')

In [70]:
sel = Selector(text=res.text)

In [71]:
list = []
for i in sel.xpath('//div[@class = "col-md-4 tags-box"]'):
    list.append(i.xpath('.//span/a/text()').extract())

pages = {'Top ten important tags':[]}
for i in range(0,10):
    for r in list:
        pages['Top ten important tags'].append(r[i])
        
df = pd.DataFrame(pages)
df

  Top ten important tags
0                   love
1          inspirational
2                   life
3                  humor
4                  books
5                reading
6             friendship
7                friends
8                  truth
9                 simile

In [72]:
df.to_csv('Top ten important tags.csv',index=False)

In [73]:
list = []
for i in sel.xpath('//div[@class = "col-md-4 tags-box"]'):
    list.append(i.xpath('.//span/a/text()').extract())
pages = []
for i in range(0,10):
    for r in list:
        pages.append('https://quotes.toscrape.com/tag/' + str(r[i]))


Quotes = {'Text':[],'Author':[],'Tags':[]}
for j in pages:
    res = requests.get(j)
    sel = Selector(text=res.text)
    for i in sel.xpath('//div[@class = "quote"]'):
        Quotes['Text'].append(i.xpath('.//span/text()').extract_first())
        Quotes['Author'].append(i.xpath('.//span[2]/small/text()').extract_first())
        Quotes['Tags'].append(i.xpath('.//div/a/text()').extract())

In [74]:
df = pd.DataFrame(Quotes)
df

,Text,Author,Tags
0,“It is better to be hated for what you are tha...,André Gide,"[life, love]"
1,“This life is what you make it. No matter what...,Marilyn Monroe,"[friends, heartbreak, inspirational, life, lov..."
2,"“You may not be her first, her last, or her on...",Bob Marley,[love]
3,"“The opposite of love is not hate, it's indiff...",Elie Wiesel,"[activism, apathy, hate, indifference, inspira..."
4,"“It is not a lack of love, but a lack of frien...",Friedrich Nietzsche,"[friendship, lack-of-friendship, lack-of-love,..."
...,...,...,...
68,"“The truth."" Dumbledore sighed. ""It is a beaut...",J.K. Rowling,[truth]
69,“Never tell the truth to people who are not wo...,Mark Twain,[truth]
70,"“A day without sunshine is like, you know, nig...",Steve Martin,"[humor, obvious, simile]"
71,“Life is like riding a bicycle. To keep your b...,Albert Einstein,"[life, simile]"
72,"“He's like a drug for you, Bella.”",Stephenie Meyer,"[drug, romance, simile]"

In [75]:
df.to_csv('tags_scrape.csv',index=False)

In [76]:
pages = []
for i in range(1,11):
    pages.append('https://quotes.toscrape.com/page/'+str(i))
    Quotes = {'Text':[],'Author':[],'Tags':[]}
for j in pages:
    res = requests.get(j)
    sel = Selector(text=res.text)
    for i in sel.xpath('//div[@class = "quote"]'):
        Quotes['Text'].append(i.xpath('.//span/text()').extract_first())
        Quotes['Author'].append(i.xpath('.//span[2]/small/text()').extract_first())
        Quotes['Tags'].append(i.xpath('.//div/a/text()').extract())
df = pd.DataFrame(Quotes)
df

,Text,Author,Tags
0,“The world as we have created it is a process ...,Albert Einstein,"[change, deep-thoughts, thinking, world]"
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"[abilities, choices]"
2,“There are only two ways to live your life. On...,Albert Einstein,"[inspirational, life, live, miracle, miracles]"
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"[aliteracy, books, classic, humor]"
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"[be-yourself, inspirational]"
...,...,...,...
95,“You never really understand a person until yo...,Harper Lee,[better-life-empathy]
96,“You have to write the book that wants to be w...,Madeleine L'Engle,"[books, children, difficult, grown-ups, write,..."
97,“Never tell the truth to people who are not wo...,Mark Twain,[truth]
98,"“A person's a person, no matter how small.”",Dr. Seuss,[inspirational]
99,“... a mind needs books as a sword needs a whe...,George R.R. Martin,"[books, mind]"

In [77]:
df.to_csv('Quotes1.csv',index=False)